# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Environment variables
# ----------------------------
.env

# ----------------------------
# Databases (local)
# ----------------------------
*.db
*.sqlite
*.sqlite3

# ----------------------------
# Python cache / build
# ----------------------------
__pycache__/
*.py[cod]

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Data files
# ---------------------------- 
*.csv
*.xlsx   
